@charset "utf-8";
.demo-box-1{width:90%;margin:0 auto}
.demo-box-2{margin-top:10px;}
.demo-title-1{font-size:16px;font-weight:bold;margin-bottom:5px;border-bottom:1px solid #ccc;display:block}
.demo-title-2{font-size:18px;font-weight:bold;}
.demo-con-1{}